<div style="background-color: #eee;">
<section class="vh-500" style="background-color: #eee;" >
    <div class="container h-500">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1"   >
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" *ngIf="createUSER">Create User</p>
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" *ngIf="updeateUser">Update User</p>


                        <!-- here start form -->
                  <form class="mx-1 mx-md-4" (ngSubmit)="getcreateUpdate()" #userForm="ngForm">
  
                    <div class="d-flex flex-row align-items-center mb-4" >
                       <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                                <!-- first name field -->
                             <label class="form-label" for="firstName" >First Name</label>
                                 <input 
                                    type="text" 
                                    value={{userId.firstName}}

                                    id="firstName" 
                                    name="firstName" 
                                    class="form-control" 
                                    required
                                    [(ngModel)]="model.firstName"
                                    #firstnameInput="ngModel"
                                >
                            <div class="alert alert-danger my-2" 
                            *ngIf="!firstnameInput.valid && firstnameInput.touched">
                                first Name is required!!
                            </div>

                           </div>
                      </div>
                              <!-- last name field -->
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                             <label class="form-label" for="lastName">Last Name</label>

                              <input 
                                  type="text" 
                                  value={{userId.lastName}}

                                  id="lastName" 
                                  name="lastName" 
                                  class="form-control"
                                  [(ngModel)]="model.lastName"
                                  #lastNameInput="ngModel"
                                  required
                                     >
                            <div class="alert alert-danger my-2" 
                           *ngIf="!lastNameInput.valid && lastNameInput.touched">
                                 last Name is required!!
                            </div>
                          </div>
                      </div>
                                <!-- Email field -->
                      <div class="d-flex flex-row align-items-center mb-4" *ngIf="updeateUser">
                         <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                           <div class="form-outline flex-fill mb-0">
                              <label class="form-label" for="emailUPDATE">Email</label>

                                 <input 
                                 
                                   placeholder={{userId.email}}
                                    type="text" 
                                   
                                    id="emailUPDATE" 
                                    name="emailUPDATE" 
                                    class="form-control"
                                  [(ngModel)]="model.email"
                                   
                                    required
                                    [disabled]="updeateUser"

                                >
                               
                             
                            </div>
                      </div>
                        <!--  email of  creae users -->

                               <div class="d-flex flex-row align-items-center mb-4" *ngIf="createUSER">
                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                  <div class="form-outline flex-fill mb-0">
                                     <label class="form-label" for="email">Email</label>
       
                                       
                                       <input 
                                       placeholder="email"
                                       type="text" 
                                       id="email" 
                                       name="email" 
                                       class="form-control"
                                       [(ngModel)]="model.email"
                                       #emailInput="ngModel"
                                       
                                    
       
                                   >
                                   <div class="alert alert-danger my-2" 
                                   *ngIf="!emailInput.valid && emailInput.touched">
                                                   Email is required!!
                                   </div>
                                    
                                   </div>
                             </div>
                               
                                       <!-- Gender field -->
                      <div class="d-flex flex-row align-items-center mb-4" *ngIf="updeateUser">
                         <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                               <label for="gender">Gender</label>
                                  <select 
                                    name="gender" 
                                    id="gender" 
                                    class="form-control" 
                                    value={{userId.gender}}
                                    
                                    [(ngModel)]="model.gender"
                                    #gender="ngModel"
                                     >
                                        <option  *ngFor="let g of genders" [value]="g">{{ g }}</option>
                                    </select>
                              
                            </div>
                        </div>
                                <!-- Title field -->
                        <div class="d-flex flex-row align-items-center mb-4" *ngIf="updeateUser">
                           <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                               <div class="form-outline flex-fill mb-0">
                                  <label for="title">Title</label>
                                  <select 
                                    name="title" 
                                    id="title" 
                                    class="form-control" 
                                    value={{userId.title}}
                                    
                                    [(ngModel)]="model.title"
                                    #title="ngModel"
                                  >
                                     <option  *ngFor="let t of titles" [value]="t">{{ t }}</option>
                                  </select>
                                 
                                </div>
                          </div>
                      <!-- DATE OF Brith -->
                
                    <div class="d-flex flex-row align-items-center mb-4" *ngIf="updeateUser">
                       <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                             <label class="form-label" for="dateOfBirth">Date Of Birth</label>

                               <input 
                               value={{userId.dateOfBirth}}

                                  type="date" 
                                  id="dateOfBirth" 
                                  name="dateOfBirth" 
                                  class="form-control"
                                  [(ngModel)]="model.dateOfBirth"
                                  #dateInput="ngModel"
                                  
                                    >
                       
                         </div>
                    </div>

                    <!-- Phone -->

                    <div class="d-flex flex-row align-items-center mb-4" *ngIf="updeateUser">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="phone">Phone</label>

                        <input 
                        value={{userId.phone}}

                        type="text" 
                        id="phone" 
                        name="phone" 
                        class="form-control"
                        [(ngModel)]="model.phone"
                        #phoneInput="ngModel"
                        
                    >
                    
                      </div>
                    </div>
                  

                     <!-- picture -->

                     <div class="d-flex flex-row align-items-center mb-4" *ngIf="updeateUser">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="picture">Picture</label>
                        
                        <input 
                        value={{userId.picture}}

                        type="text" 
                        id="picture" 
                        name="picture" 
                        class="form-control"
                        [(ngModel)]="model.picture"
                        #pictureInput="ngModel"
                        
                    >
                   
                      </div>
                    </div>
                 

  
                 
  
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4  " >
                      <button
                      type="submit"
                       class="btn btn-primary btn-lg me-2" 
                       [disabled]="!userForm.valid "
                    
           
                       >Submit
                    </button>
                
                   
                        <button 
                        class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 " 
                       type="button"
                       class="btn btn-outline-success btn-lg" 
                        (click)="userForm.reset()"
            
                          >
                         Reset
                         </button>
                        </div>

                        <div *ngIf="createUSER">
                           <div class="alert alert-success my-2" 
                             *ngIf="handelSuccess" >
                                create user is success
                                </div>
                      <div class="alert alert-danger my-2" 
                      *ngIf="handelError">
                        create user is failed, Email is already Exist
                    </div>
                    </div>

                    <div 
                    *ngIf="updeateUser"  >
                    <div *ngIf="handelSuccess  && userForm.valid" class="alert alert-success my-2">
                      update user is success

                    </div>
                    <div class="alert alert-danger my-2" 
                      *ngIf=" handelError">
                        update user is failed
                    </div>
                  </div>
                      
                        <div class="d-flex justify-content-center">
                        <button 
                        class="btn btn-danger btn-lg  "
                        (click)="back()"
                        >Back</button>
                        </div>



                   
  
                  </form>

  
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>